<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-5">
            <p class="Heading1">New Installation Details</p>
        </div>
    </div>
 
    <br>
  
    <div class="card">
        <div class="row leavereq">
            <div class="col-md-2">
                <label style="color:#0C275A">Customer Name<span style="color: red;">*</span></label>
            </div>
          
            <div class="col-md-2">
                <label style="color:#0C275A">Phone Number<span style="color: red;">*</span></label>
            </div>
            <div class="col-md-2">
                <label style="color:#0C275A">Email ID<span style="color: red;">*</span></label>
            </div>
          
            <div class="col-md-3">
                <label style="color:#0C275A">Address<span style="color: red;">*</span></label>
            </div>
        </div>
        <div class="row leavereq">
            <div class="col-md-2" >
                <input type="text" class="form-control inputfield"  placeholder="Name">
            </div>
            <div class="col-md-2" >
                <input type="text" class="form-control inputfield"  placeholder="Phone">
            </div>
            <div class="col-md-2" >
                <input type="text" class="form-control inputfield"  placeholder="Email">
            </div>
         
            <div class="col-md-3">
                <textarea type="text" rows="4" class="form-control inputfield Poppins" placeholder="Write here...." ></textarea>
            </div>
        </div>
        <br>
        <div class="row leavereq">
            <div class="col-md-2">
                <label style="color:#0C275A" >Country<span style="color: red;">*</span></label>
            </div>
          
            <div class="col-md-2">
                <label style="color:#0C275A" >Province<span style="color: red;">*</span></label>
            </div>
            <div class="col-md-2">
                <label style="color:#0C275A" >City<span style="color: red;">*</span></label>
            </div>
          
          
        </div>
        <div class="row leavereq">
            <div class="col-md-2" >
               <select class="form-control inputfield">
                   <option>India</option>
                   <option>South Africa</option>
                   <option>Singapore</option>
               </select>
            </div>
            <div class="col-md-2" >
                <select class="form-control inputfield">
                    <option>Gauteng</option>
                    <option>West Cap</option>
                    <option>Eastern Cape</option>
                </select>
            </div>
            <div class="col-md-2" >
                <select class="form-control inputfield">
                    <option>Mpumalanga</option>
                    <option>Northern Cape</option>
                    <option>Limpopo</option>
                </select>
            </div>
         
         
        </div>
        <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-2">
                <button class="form-control CancelBTN" routerLink="/NewInstallation">Cancel</button>
            </div>
            <div class="col-lg-2">
                <!-- <button class="form-control SubmitBTN" (click)="OnSubmit()" >Submit</button> -->
                <button class="form-control SubmitBTN"  >Save</button>
              
            </div>
        </div>
    </div><br>
</div>

 






