<div class="container-fluid">
  <div id="dynamiccss" class="row"
    style="height: 9vh;font-family:'Poppins';padding-top: 10px; background-color: #3247D5; ">
    <div class="col-lg-12 d-flex justify-content-between">
      <div class="col-lg-2">
        <!-- <img src="{{officelogo}}" style="height: 52px;margin-top: 3px;"> -->
        <img src="../assets/Images/Logo_digiOffice_White.png" style="height: 52px;margin-top: 3px;">
      </div>
      <div class="col-lg-3" style="display: flex;
            align-items: center;
            flex-wrap: nowrap;
            justify-content: start;margin-right: 85px;">
        <div class="time">
          <p class="time1">{{hh}}</p>
        </div>
        <div class="time">
          <p class="time1">{{mm}}</p>
        </div>
        <div class="time">
          <p class="time1">{{ampm}}</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="centerlabel">{{pagename}}</div>
      </div>
      <div class="col-lg-3" style="display: flex;
            /* align-content: stretch; */
            justify-content: flex-end;">

        <p class="welcomename">Hi!</p>

        <div>
          <a data-toggle="dropdown">
            <i class="fa fa-caret-down" style="color:white;margin-left: 5px;margin-top: 10%;"></i>
          </a>
          <ul class="dropdown dropdown-menu" style="width: 250px;margin-top: 1%;">
            <div class="container-fluid contain">
              <div class="row">
                <div class="col-lg-2">
                  <!-- <br />
                                    <i class="fa fa-link link" aria-hidden="true" style="margin-top:10px"></i> -->
                  <br />
                  <i class="fa fa-user link" aria-hidden="true" style="margin-top:5px;color: #3247D5;"></i>
                  <!-- <br />
                  <i class="fa fa-cog link" aria-hidden="true" style="margin-top:5px;color: #3247D5;"></i> -->
                  <br />
                  <i class="fa fa-power-off link" aria-hidden="true" style="margin-top:5px;color: #3247D5;"></i>
                </div>
                <div class="col-lg-10">
            
                  <!-- <h6 class="link1">Quick Links</h6> -->
                  <!-- <h6 [routerLink]="['/AddressDetailsWizard',staffID]" class="link1">My
                                            Profile
                                        </h6> -->
                  <h6 (click)="accountsetting()" class="link1">My Account Settings</h6>
                  
                  <h6 (click)="logout()" class="link1">Logout</h6>
                </div>

              </div>

              <div class="row">
                <div class="col-lg-12" style="overflow: auto;">



                </div>
              </div>

              <li class="divider"></li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="row" style="background-color: #f2f2f2;">
  <div class="col-lg-2">
    <app-sidebar (activate)="onActivate($event)"></app-sidebar>
  </div>

  <div class="col-lg-10" style="height: 83vh;overflow-y: auto;background-color: #e5f3f5;">
    <br>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <br>
  </div>
</div>
<div class="col-lg-12">
  <app-footer></app-footer>
</div>
<!-- <div *ngIf="login!=1">
        <app-footer (activate)="onActivate($event)"></app-footer>
    </div> -->