<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <p class="Heading">Staff Setup</p>
      
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-lg-1">
                <p>Filter By</p>
            </div>

            <div class="col-lg-3">
                <select class="form-control">
                    <option>Select Country</option>
                    <option>South Africa</option>
                    <option>Singapore</option>
                </select>
            </div>
            <div class="col-lg-3">
                <select class="form-control">
                    <option>Select Province</option>
                    <option>Western Cape</option>
                    <option>Northern Cape</option>
                </select>
            </div>
        </div> 
    </div><br>
    <div class="row">
        <div class="col-lg-8 View">
           
        </div>
        <div class="col-lg-2">
            <button class="EditBTN" (click)="exportexcel()">Export Excel</button>
        </div>

        <div class="col-lg-2">
            <button class="EditBTN" routerLink="/StaffDetails" >Add</button>
        </div>
    </div> <br>


        <div class="row" >
            <div class="col-lg-12">
                <table class="table" id="download">
                    <thead>
                            <th>Employee ID</th>
                            <th>Employee Name</th>
                            <th>Department</th>
                            <th>Role</th>
                            <th>Phone No</th>
                            <th>Email ID</th>
                            <th>Address</th>
                            <th>Country</th>
                            <th>Province</th>
                            <th>City</th>
                            <th>Photo</th>
                            <!-- <th>Reset Password</th> -->
                            <th style="padding-left: 47px;">Actions</th>
                        <tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>10001</td>
                          <td>Prathap</td>
                          <td>Technical Service</td>
                          <td>Senior Technician</td>
                          <td>9897886788</td>
                          <td>prathap@outlook.in</td>
                          <td>106/D-19, 29th A Cross Rd, 7th Block-32437</td>
                          <td>South Africa</td>
                          <td>Western Cape</td>
                          <td>Cape Town</td>
                          <td><img src="assets/Images/empPhoto.jpg" width="60%" height="30%"></td>
                          <td> <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
</div>