<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <p class="Heading1 ">Staff Setup</p>
      
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 View">
           
        </div>

        <div class="col-lg-4">
            <button class="AddButton" routerLink="/Newcompanyprofile" disabled>Add</button>
        </div>
    </div> <br>


        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                            <th>Employee ID</th>
                            <th>Employee Name</th>
                            <th>Department</th>
                            <th>Role</th>
                            <th>Phone No</th>
                            <th>Email ID</th>
                            <th>Address</th>
                            <th>Country</th>
                            <th>Province</th>
                            <th>City</th>
                            <th>Photo</th>
                            <!-- <th>Reset Password</th> -->
                            <th style="padding-left: 47px;">Actions</th>
                        <tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>10001</td>
                          <td>Prathap</td>
                          <td>Technical Service</td>
                          <td>Senior Technician</td>
                          <td>9897886788</td>
                          <td>prathap@outlook.in</td>
                          <td>106/D-19, 29th A Cross Rd, 7th Block-32437</td>
                          <td>South Africa</td>
                          <td>Western Cape</td>
                          <td>Cape Town</td>
                          <td><img src="../../assets/Images/empPhoto.jpg" width="60%" height="30%"></td>
                          <td> <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
</div>